apiVersion: v1
kind: Service
metadata:
  name: webservice
  namespace: ingress-nginx
  labels:
    app: webservice
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  type: NodePort
  selector:
    app.kubernetes.io/name: webservice
  externalTrafficPolicy: Local
