
# VS Code remote & local
.vscode/
.vscode-server/

# Shell / zsh stuff and caches
.zsh_history
.zsh_history.*
.zcompdump*
.wget-hsts
.cache/
.nvm/
.oh-my-zsh/

# Certificates / keys (never commit these)
*.pem
*.key
privkey.*
fullchain.*
chain.*

# Big compressed artifacts
*.tar.gz
*.zip

# OS junk
.DS_Store


.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.codex/
.config/
.dotnet/
.gk/
.kube/
.lesshst
.local/
.p10k.zsh
.redhat/
.shell.pre-oh-my-zsh
.ssh/
.terraform.d/
.viminfo
.zshrc
.zshrc.bak.20250523-163853
.zshrc.bak.20250523-170320
aws/iam_mfa.txt
bamboo-specs/CAM-CAO.yaml
bamboo-specs/CAM-CAON.yaml
bamboo-specs/CAM-PAO.yaml
bamboo-specs/CAM-PAON.yaml
bamboo-specs/CAM-TAO.yaml
bamboo-specs/BT-HMPKG.yaml
bamboo-specs/BT-WIKIPACK.yaml
bamboo-specs/AV-AVUP.yaml
bamboo-specs/test.yaml
.copilot/ide/*.lock.copilot/
.antigravity-server/
.gemini/