[Unit]
Description=Conexus SFTPed files scan and move system
After=syslog.target

[Service]
Type=simple
ExecStart=/app/ConexusSFTP/process/scannmovewrapper
PIDFile=/var/run/ConexusSFTP.pid
TimeoutStartSec=30m

[Install]
WantedBy=multi-user.target

