.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .link-wrapper {
  display: inline-block;
  cursor: pointer;
  padding: 2.1rem 1rem;
  font-size: 1.15em;
}

.header .link-wrapper a {
  position: relative;
  color: inherit;
  color: #767676;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  display: inline-block;
  transition: all 0.25s;
}

.header .link-wrapper a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00548E;
  transition: all 0.25s;
  height: 4px;
  transform: translate3d(0, 4px, 0);
}

.header .link-wrapper.header-hover a,
.header .link-wrapper:hover a {
  color: #212121;
}

.header .link-wrapper.header-hover a:after,
.header .link-wrapper:hover a:after {
  transform: translate3d(0, 0, 0);
}

.image-wrapper {
  position: relative;
}

.image-wrapper .side-info {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  left: 5rem;
  top: 12.5rem;
  padding: 2rem;
  border-left: 1rem solid #00548E;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.error-text {
  color: #c40000;
}

label,
input[type=checkbox] {
  cursor: pointer;
}

.footer {
  background: #dadbdc;
}

/*accordion content*/
.accordion .accordion-header {
  background: #efefef;
  cursor: pointer;
}

.accordion .accordion-header {
  padding: 1rem 2rem;
}

.accordion .accordion-header img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  transition: all 0.25s;
}

.accordion .accordion-header img.flip {
  transform: rotate(-180deg);
}

.accordion table td:first-child {
  width: 100%;
}

.accordion .accordion-content {
  overflow: hidden;
  transition: all 0.5s;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #efefef;
}

.accordion .accordion-content.close {
  height: 0px !important;
}

.accordion .accordion-content .accordion-inner {
  padding: 1rem 2rem;
  transition: all 0.5s ease 0.25s;
}

.accordion .accordion-content.close .accordion-inner {
  visibility: hidden;
  transition-delay: 0s;
}