apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: digest-secrets-fromasm
  namespace: ingress-nginx
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "cnxsdigestids"
        objectType: "secretsmanager"
        objectVersionLabel: "AWSCURRENT"
        jmesPath:
          - path: applicationusers
            objectAlias: "application-users.properties"
          - path: applicationroles
            objectAlias: "application-roles.properties"
    usePodIdentity: "true" # Indicator to use Pod Identity instead of IRSA
  secretObjects:
  - secretName: cnxsdigestids
#    data:
#      - objectName: application-users.properties  # The objectAlias from above, under jmesPath
#        key: APP_USERS_PROP              # The env var
#      - objectName: application-roles.properties
#        key: APP_ROLES_PROP
    type: Opaque

