apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-secrets-manager
  namespace: ingress-nginx
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "cnxsdbids"
        objectType: "secretsmanager"
        jmesPath:
          - path: NSFS_APP_PASS
            objectAlias: "nsfsappuserpass"
          - path: CNXS_MOD_APP_PASS
            objectAlias: "cnxsmodappuserpass"
      - objectName: "cnxsids"
        objectType: "secretsmanager"
        jmesPath:
          - path: JMSUSER_PASS           
            objectAlias: "jmsuserpass" 
      - objectName: "cnxsoidcids"
        objectType: "secretsmanager"
        jmesPath:
          - path: OIDC_PASS
            objectAlias: "oidcpass"
          - path: OIDC_CLIENT_SECRET
            objectAlias: "oidcclientsecret"
      - objectName: "cnxsswaggeroidcids"
        objectType: "secretsmanager"
        jmesPath:
          - path: SWAGGEROIDC_PASS
            objectAlias: "swaggeroidcpass"
          - path: SWAGGEROIDC_CLIENT_SECRET
            objectAlias: "swaggeroidcclientsecret"                        
    usePodIdentity: "true" # Indicator to use Pod Identity instead of IRSA
  secretObjects:
  - secretName: cnxsdbids
    data:
      - objectName: nsfsappuserpass  # The objectAlias from above, under jmesPath
        key: NSFS_APP_PASS              # The env var
      - objectName: cnxsmodappuserpass
        key: CNXS_MOD_APP_PASS
    type: Opaque
  - secretName: cnxsids
    data:
      - objectName: jmsuserpass
        key: JMSUSER_PASS
    type: Opaque
  - secretName: cnxsoidcids
    data:
      - objectName: oidcpass
        key: OIDC_PASS
      - objectName: oidcclientsecret
        key: OIDC_CLIENT_SECRET
    type: Opaque
  - secretName: cnxsswaggeroidcids
    data:
      - objectName: swaggeroidcpass
        key: SWAGGEROIDC_PASS
      - objectName: swaggeroidcclientsecret
        key: SWAGGEROIDC_CLIENT_SECRET
    type: Opaque        
