<!DOCTYPE html>

<html ng-app="NSFSapp">

<head>
    <title>Conexus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="stylesheet" href="app/fonts/MerriweatherSans.css">
    <link rel="stylesheet" href="app/fonts/RobotoSlab.css">
    <link rel="stylesheet" href="app/fonts/Roboto.css">

    <link rel="stylesheet" href="/css/app.css" />
</head>

<body ng-controller="app.main" md-theme="nsfs">
<div class="wrapper">

    <div style="width: 100%">
        <div class="conexus-header">
            <div class="logo">
                <img src="/img/conexus-logo-w-bg.png" alt="Go to Conexus Dashboard" />
            </div>
            
            <div id="breadCrumb" class="left" ng-cloak>
                <br />

                <span class='pageTitle'>Request GSA Account</span>
            </div>
        </div>

        <div class="conexus-content">
            <div class="container">
                <div class="grid-2">
                </div>

                <div class="grid-10 titleRow">
                    <h1>User Management</h1>
                </div>
            </div>

            <div class='container'>
                <div class='grid-2'></div>
                <div class='grid-10 section'>
                        Please provide the following information in order to request a GSA SecureAuth account: <br>
                        * Required Field<br >

                        <form>
                            <div class="container">
                                <div class="grid-3">
                                    <label for="">First Name*</label><br/>
                                    <field type="input" ng-model="firstName" /></field>
                                </div>
                            </div>

                            <div class="container">
                                <div class="grid-3">
                                    <label for="">Midle Initial</label><br/>
                                    <field type="input" ng-model="midleInitial" /></field>
                                </div>
                            </div>

                            <div class="container">
                                <div class="grid-3">
                                    <label for="">Last Name*</label><br/>
                                    <field type="input" ng-model="lastName" /></field>
                                </div>
                            </div>

                            <div class="container">
                                <div class="grid-3">
                                    <label for="">Work Email*</label><br/>
                                    <field type="input" ng-model="workEmail" /></field>
                                </div>
                            </div>

                            <div class="container">
                                <div class="grid-3">
                                    <label for="">Work Phone*</label><br/>
                                    <field type="input" ng-model="workPhone" /></field>
                                </div>
                            </div>

                            <div class="container">
                                <div class="grid-3">
                                    <label for="">Work Cell</label><br/>
                                    <field type="input" ng-model="workCell" /></field>
                                </div>
                            </div>
                        </form>

                        <div class='button-list right'>
                            <ul>
                                <li><div class='button action' ng-click="submit()">Submit Request to GSA</div></li>
                                <li><div class='button' ng-click="cancel()">Cancel</div></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<script src="/javascript/ui-utils.js"></script>
<script src="/javascript/nsfs-menu.js"></script>
<script src="/javascript/jquery-ui.js"></script>
<script src="/javascript/jquery.mousewheel.js"></script>
<script src="/javascript/jquery.dragtable.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

<script src="/javascript/app.js"></script>


</html>
