apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - groups:
        - system:bootstrappers
        - system:nodes
        rolearn: arn:aws:iam::339712815045:role/KarpenterNodeRole-cnxscert-karpenter
        username: system:node:{{EC2PrivateDNSName}}



